@import 'config';

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    @include backgroundGradient;
    position: relative;

    .bg{
        .header{
            margin:0 0 40px;
            text-align: center;
    
            h1{
                color: #93FF96;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            h2{
                color: aliceblue;
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 15px;
            }
            p{
                font-weight: 300;
                font-size: 15px;
                margin-bottom: 10px;
                color: rgba(255,255,255,0.61);
                
            }
        }
    }


    .formc{
        margin-bottom: 60px;
        z-index: 15;
        position: relative;
        width: 340px;
        //padding: 40px;
        overflow: hidden;
        
        
    
    }
    
}
.animation{
    display: none;
}
