@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

.navbar {
  position: fixed;
  background-color: transparent;
  margin: 0 auto;
  width: 100vw;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.navbar .inner-width {
  margin: auto;
  padding: 0 40px;
}

.navbar .menu-toggler {
  position: relative;
  cursor: pointer;
  background: none;
  width: 30px;
  outline: none;
  border: none;
  z-index: 999;
  display: none;
}

.navbar .menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-menu a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar .navbar-menu a:hover {
  color: #185BC9 !important;
}

.sticky {
  background-color: #f1f1f1;
  padding: 15px 0;
}

.sticky .navbar-menu a {
  color: #111;
}

.sticky .menu-toggler span {
  color: #111;
}

#home {
  max-width: 100%;
  height: 110vh;
  min-height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/bg.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width {
  margin: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

#home h1 {
  margin: 0;
  font-weight: 400;
  color: #fff;
  margin-top: 200px;
  margin-bottom: 40px;
}

#home h2 {
  margin: 0;
  font-weight: 400;
  color: #fff;
}

#home .lg-heading {
  font-size: 7rem;
}

#home .sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}

#home .text-secondary {
  color: #185BC9;
}

#home .buttons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .buttons a {
  display: inline-block;
  margin: 15px 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid;
  border-color: #185BC9;
  padding: 14px 0;
  border-radius: 6px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#home .buttons a:hover {
  background-color: #185BC9;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section {
  padding: 40px 0;
  background-color: #fff;
  padding-bottom: 200px;
}

section .section-title {
  /*margin-top: 0; */
  margin-top: 0;
  padding-top: 150px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 25px;
  color: #111;
  padding-bottom: 20px;
  font-weight: 400;
}

section .section-title::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50%-40px);
}

#about {
  padding-top: 100px;
}

#about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

#about .about-content .about-pic {
  width: 350px;
  border-radius: 50%;
  margin: 0 50px;
  padding-right: 35px;
}

#about .about-content .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .about-content .about-text h2 {
  color: #111;
  padding: 20px 0;
  font-weight: 400;
}

#about .about-content .about-text h3 {
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}

#about .about-content .about-text h3 span:nth-child(1):after,
#about .about-content .about-text h3 span:nth-child(2):after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

#about .about-content .about-text p {
  font-size: 17px;
  text-align: justify;
  line-height: 35px;
  padding-right: 40px;
  /*margin-top:20px;*/
}

#about .about-content .about-text p a {
  color: #185BC9;
  font-weight: 800;
}

section.dark {
  background-color: #353b48;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/bg2.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

section.dark .title2 {
  color: #fff;
}

section.dark .title2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #f1f1f1;
  bottom: 0;
  left: calc(50%-40px);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.skills .section-title {
  color: #fff;
}

.skills .skill {
  width: calc(32%);
  text-align: center;
  border: 1px solid #185BC9;
  border-radius: 6px;
  margin: 20px 0px;
  padding: 70px 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.skills .skill:hover {
  background-color: #185BC9;
}

.skills .skill:hover .icon {
  color: #fff;
}

.skills .skill .icon {
  color: #185BC9;
  font-size: 40px;
  margin-bottom: 20px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#works {
  background-color: #353b48;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg) no-repeat center;
  background-size: cover;
}

#works .title4 {
  color: #fff;
}

#works .title4::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: calc(50%-40px);
}

#works .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 98%;
  margin: 0 auto;
}

#works .works .work {
  width: calc(24%);
  overflow: hidden;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}

#works .works .work:hover::before {
  opacity: .5;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#works .works .work:hover img {
  -webkit-transform: scale(1.6) rotate(25deg);
          transform: scale(1.6) rotate(25deg);
}

#works .works .work:hover .info {
  opacity: 1;
}

#works .works .work::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--main-color);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#works .works .work .info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: #f1f1f1;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  opacity: 0;
}

#works .works img {
  width: 100%;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

#contact {
  width: 98%;
  margin: 0 auto;
}

#contact .title5::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: #353b48;
  bottom: 0;
  left: calc(50%-40px);
}

#contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

#contact .contact-info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#contact .contact-info .item:hover {
  background-color: #185BC9;
}

#contact .contact-info i {
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

#contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .contact-form input, #contact .contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

#contact .contact-form .nameZone, #contact .contact-form .emailZone {
  max-width: calc(50% - 10px);
}

#contact .contact-form .messageZone {
  min-height: 200px;
  resize: vertical;
}

#contact .contact-form .btn1 {
  width: 180px;
  background-color: transparent;
  color: #185BC9;
  font-size: 16px;
  border: 2px solid #185BC9;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#contact .contact-form .btn1:hover {
  background-color: #185BC9;
  color: #fff;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/code_lines_programming_130775_3840x2160.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/code_lines_programming_130775_3840x2160.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

footer .copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

footer .copyright a {
  font-size: 19px;
  color: var(--main-color);
  font-weight: 500;
}

footer .middle {
  margin: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .middle .btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: #185BC9;
  overflow: hidden;
  position: relative;
}

footer .middle .btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

footer .middle .btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

footer .middle .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #185BC9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

footer .middle .btn i {
  line-height: 90px;
  font-size: 26px;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.goTop {
  position: fixed;
  z-index: 99;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #185BC9;
  border: none;
  border-radius: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.goTop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */