$primary-color: #272727;
$secondary-color:#188FE4;
$mobile: 800px;

*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

@mixin transition1{
    transition: all .5s ease-in-out ;
}

@mixin mobile {
    @media(max-width: $mobile){
        @content;//This can be replaced with the code we need depending on the situation
    }
}
@mixin burgerDimensions{
    width: 28px;
    height: 3px;
}