.menu-btn{
    position:absolute;
    z-index: 1;
    right: 1rem;
    top:1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition1;

    &_burger{
        position: absolute;
        right:0;
        top:0.5rem;
        @include burgerDimensions;
        @include transition1;
        background-color: $secondary-color;
        

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            @include burgerDimensions;
            @include transition1;
            background-color: $secondary-color;
        }
        &::after{
            content: '';
            position: absolute;
            top: 7px;
            @include burgerDimensions;
            @include transition1;
            background-color: $secondary-color;
        }

        &.open{//JS will toggle that i.e. add/remove open class
            transform: rotate(720deg);
            //background: transparent;
            /*&::after{
                top:8px;
            } -> Back to normal*/
            background: transparent;
            &::before {
                transform:rotate(45deg) translate(5px,8px);
            }
            &::after{
                transform: rotate(-45deg) translate(3px,-5px);
            }
        }
    }
}
/*
.menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;

    li{
        padding: 1rem 6rem;
        @include mobile(){
            padding:1rem;
        }
    }
}*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.96;
    visibility: hidden;
    &.open{
        visibility: visible;
    }
    
    .menu-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition1;
        &.open{
            transform: translateY(0);
        }
        .menu-item{
            padding:2rem 0;
            transform: translate(100vw);
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 200;
            @include transition1;
            
            &.open{
                transform: translateX(0);
            }
            &.active > a {
                color:$secondary-color;
            }
        }
        &-link{
            @include transition1;
            &:hover{
                color: $secondary-color;
            }
        }
    }

}
