#home{
    max-width: 100%;
    height: 110vh;
    min-height: 500px;
    background:linear-gradient( rgba(0,0,0, 0.7), rgba(0,0,0, 0.7) ),url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    .inner-width{
        margin:auto;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
    h1{
        margin: 0;
        font-weight: 400;
        color: #fff;
        margin-top: 200px;
        margin-bottom: 40px;
    }
    h2{
        margin: 0;
        font-weight: 400;
        color: #fff;
    }
    .lg-heading{
        font-size: 7rem;
    }
    .sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
    .text-secondary {
        color: $main-blue;
    }
    .buttons{
        margin-top: 60px;
        display: flex;
        justify-content: center;

        a{
            display: inline-block;
            margin: 15px 30px;
            color:#fff;
            font-size: 15px;
            font-weight:500;
            width:180px;
            border:1px solid;
            border-color: $main-blue;
            padding:14px 0;
            border-radius:6px;
            transition: .5s ease;

            &:hover{
                background-color:$main-blue;
                transform: scale(1.2);
              }
          }
          
    }

}    
       
      
    
    

